<div style="margin-top: 20px;">
  <p-fieldset>
    <ng-template pTemplate="header">
      <span style="color:'var(--primary-color)';">
        What we do?
      </span>
    </ng-template>

    <p>
      Still struggling to manage your retail store's inventory,so you are at correct page
      and a <span routerLink="/login" style="color:'var(--primary-color)';cursor: pointer;">Sign In</span> away. This application will help you add your inventory stock at one place

    </p>
    <p>
      You can login at one click with your Google Account with enhanced security.
    </p>
  </p-fieldset>

</div>
<div style="margin-top: 20px;">

  <p-fieldset>
    <ng-template pTemplate="header">
      <span style="color:'var(--primary-color)';">
        Easy to add Items
      </span>
    </ng-template>

    <p>
      There are 7 fields available to describe your item, and with special field to
      also mention the location of the product to find it on your desk
    </p>
  </p-fieldset>
</div>
<div style="margin-top: 20px;">

  <p-fieldset>
    <ng-template pTemplate="header">
      <span style="color:'var(--primary-color)';">
        Fully flexible Data View Table
      </span>
    </ng-template>

    <p>
      Data you added can be seen on one screen with all sorting and filter options available to help you handle your large inventory.
    </p>
  </p-fieldset>
</div>
<div style="margin-top: 20px;">

  <p-fieldset>
    <ng-template pTemplate="header">
      <span style="color:'var(--primary-color)';">
        Diffrent View to show Items you may consider to order having less stock
      </span>
    </ng-template>

    <p>
      Always it has been extra care when it comes to ordering the items
        which have reduced the threshold limit, so with our all new page view all items
        with less than 5 quantity will be shown to you.
        This quantity will be adjustable in future updates...
    </p>
  </p-fieldset>
</div>
<div style="margin-top: 20px;">

  <p-fieldset>
    <ng-template pTemplate="header">
      <span style="color:'var(--primary-color)';">
        Record New Inventory intake or Sold Items
      </span>
    </ng-template>

    <p>
A Diffrent screen to manage the new stock intake or items sold, so as to keep your stock list upto date and
avoid last minute hasstles.
    </p>
    <p>
      So what are you waiting for just dive into the all new <span routerLink="/login" style="color:'var(--primary-color)';cursor: pointer;">experience</span> and just be sure many more exciting features are on the way
    </p>
  </p-fieldset>
</div>
